* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif; 
  background-color: #60a3bc;
}

/*-------------- NAV --------------*/

header {
  background-color: #222;
  padding: 15px 30px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 50px;
  display: block;
}

.navigation ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

.navigation a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: color 0.4s;
}

.navigation a:hover {
  color: #BCA760;
}

/*SOBRE MI*/

.containerSobreMi {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #60a3bc;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.quienSoy {
  background-color: #BC6075;
  border-radius: 10px;
  display: flex;           
  flex-direction: row;     /* texto a la izquierda, imagen a la derecha */
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  height: 400px;
  padding: 100px;
}

.infoMia {
  flex: 2;
  max-width: 400px;
  text-align: left;
}

.infoMia h1 {
  color: #BCA760;
  margin-bottom: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.infoMia p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #fff;
}

.selfieMia {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selfieMia img {
  width: 200px;
  height: 200px;
  border: 5px solid #BCA760;
  border-radius: 10px;
}

/*------------ PROYECTOS ------------*/

.tituloProyectos h2{
  margin-left: 5rem;
  font-size: 2rem;
}

.proyectos {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.card {
  flex: 1;
  background-color: #BC6075;
  border: 10px;
  margin-left: 5rem;
  margin-right: 5rem;
  padding: 5rem;
  border-radius: 10px;
}

.card p {
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #fff;
}

.card h3 {
  font-size: 2rem;
  color: #BCA760;
}

.card h6 {
  font-size: 1rem;
}

.card img {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: #BCA760 5px solid;
  border-radius: 10px;
}

/*------------- TECNOLOGÍAS --------------*/



